html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }

 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }
/* header style */
.container-header-admin{
    width: 100%;
}
.header-container-admin{
    display: flex;
    font-family:'Raleway';
    background-color: #0D366B;
    margin: auto;
    padding: 20px 0px 20px 0px;
    justify-content: space-between;
    width: 100%;
    height: 20%;
}
.header-content-admin{
    padding-left: 20px;
}
.row-admin{
    width: 100%;
}
.profile{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.header-title{
    font-weight:bold;
    color: white;
    text-align: center;
    text-decoration: none;
}
.header-title:hover{
    text-decoration: none;
    cursor: pointer;
    color:white;
}
.profile-title{
    color: white;
}

/* navbar style */
.logo{
    width: 20%;
}
ul{
    margin: 0px 20px 0px 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    list-style-type: none;
}
li{
    margin-top: 10px;
}
a{
    text-decoration: none;
}

.logo-dashboard, .logo-dosen, .logo-mahasiswa, .logo-validasi{
    margin-left: 10%;
}
.text-dashboard, .text-dosen, .text-mahasiswa, .text-validasi{
    align-items: center;
    margin: auto;
    color: #0D366B;
}
.text-dashboard{
    margin-left: 20%;
} .text-dosen{
    margin-left: 13%;
} .text-mahasiswa{
    margin-left: 20%;
} .text-validasi{
    margin-left: 17%;
}
.link-dashboard,
.link-dosen,
.link-mahasiswa,
.link-validasi{
    background-color: white;
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
    border-radius: 10px;
}

.link-dashboard:hover,
.link-dosen:hover,
.link-mahasiswa:hover,
.link-validasi:hover{
    background-color: #0D366B;
    text-decoration: none;
    border-radius: 10px;
    color: white;
}
.link-dashboard:visited, .link-dosen:visited, .link-mahasiswa:visited, .link-validasi:visited{
    color: #0D366B;
    text-decoration: none;
}
.link-dosen:hover .logo-dosen, 
.link-dashboard:hover .logo-dashboard,
.link-mahasiswa:hover .logo-mahasiswa,
.link-validasi:hover .logo-validasi {
    filter: brightness(0) invert(1);
}  

.link-dosen:hover .text-dosen, 
.link-dashboard:hover .text-dashboard,
.link-mahasiswa:hover .text-mahasiswa,
.link-validasi:hover .text-validasi{
    color: white !important;
}  



/* dashboard style */
.container-page{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: auto;
}
.main{
    width:80%;
    background-image: url("http://localhost/Project_Tatib/public/img/gedung-jti.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: auto;
    margin: 0;
}
.dashboard-box{
    display: flex;
    margin: auto;
    padding: 10px;
    color: #0D3278;
    width: 90%;
}
.title-page{
    margin-left: 20px;
    margin-top: 20px;
}
.box-title{
    border-radius: 10px;
    margin: auto;
    display: flex;
    width: 100%;
    background-color: white;
    padding: 10px;
    justify-content: space-between;
}
.refresh-logo{
    margin: 10px;
    padding: 0;
}
.refresh{
    background-color: white;
    width: fit-content;
    border: none;
    color: #4C3737;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;

}
.button-refresh{
    display: flex;
    align-items: center;
}
.content{
    padding: 10px;
    width: 90%;
    margin: auto;
}
.box-content{
    border-top: 5px solid #0D3278;
    margin: 0;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

.logo-dashboard-page{
    margin-right: 10px;
}
.title-content{
    color: #229FBB;
    font-size:x-large;
    font-weight: bold;
}
.desc-content{
    font-size: medium;
    color: #4E4E4E;
    margin: 0;
}
.jurusan{
    color: #3D55AB;
    font-weight: bolder;
    margin: 0;
}
.text-content{
    margin-left: 20px;
}
.dosen-mahasiswa{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.box-dosen, .box-mahasiswa{
    width: 30%;
    display: flex;
    background-color: #0D3278;
    color: white;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0px;
    justify-content: space-between;
    align-items: flex-end;
}
.text-dosen-page, .text-mahasiswa-page{
    margin-top: 10%;
}

.button-kelola{
    margin-top: 10% ;
    color: #0D366B;
}

.kelola{
    margin: 0 0 0 0;
    height: 50%;
    font-weight: bold;
    color: #0D366B !important;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.kelola:hover{
    background-color: #959595;
    font-weight: bold;
    text-decoration: none;
}

/* daftar-dosen style dan daftar-mahasiswa style*/
.daftar-dosen-box, .daftar-mhs-box{
    margin: auto;
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin-top: 10px;
}
.box-title-daftar-dosen, .box-title-daftar-mhs{
    width: 100%;
    color: #0D366B;
    display: flex;
    justify-content: flex-start;
}
.title-page-daftar-dosen, .title-page-daftar-mhs{
    display: flex;
    padding: 3%;
}
.button-add{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.add{
    background-color: #00FF1A;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}
.edit-dosen, .edit-mahasiswa{
    color:white !important; 
    font-weight: bold;
}
.delete-dosen, .delete-mahasiswa{
    color: white !important;
}

.logo-dosen-title, .logo-mhs-title{
    margin: 0px 20px 0px 20px;
}.content{
    width: 90%;
    margin: auto;
}
.box-content-daftar-dosen, .box-content-daftar-mhs{
    margin: auto;
    border-radius: 5px;
    background-color: white;
    padding: 0px;
    width: 100%;
    display: flex;
}
.table-dosen, .table-mhs{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: stretch;
}
.thead{
    width: 100%;
    background-color: white;
    color: #0D366B;
    display: flex;
    border-top: 5px solid #0D366B;
    border-bottom: 5px solid #0D366B;
    border-radius: 5px 5px 0px 0px;
}
.tbody{
    width: 100%;
    background-color: white;
    display: flex;
    border-bottom: 5px solid #0D366B;
    border-radius: 0px 0px 5px 5px;
}
tbody{
    width: 100%;
}
th{
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding: 10px 20px 10px 20px;
    width: 100%;
}
td{
    border-color: #D9D9D9;
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    padding: 10px 20px 10px 20px;
    width: 100%;
}
.nip{
    border-left: 0px;
}

.btn-dark-blue{
    background-color: #0D366B !important;
    color: white !important;
}
.bg-dark-blue{
    background-color: #0D366B !important;
    color: white !important;
}

/* validasi style */
.bdr-dark-blue{
    border-color: #0D366B !important;
}
.validasi-box{
    width: 90%;
    margin: auto;
    padding: 1%;
}
.daftar-validasi{
    width: 90%;
    margin: auto;
}
.form-mahasiswa{
    width: 100%;
    height: 100%;
}
.title-form-mahasiswa, .title-form-dosen{
    border-top: 5px solid #0D366B;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
  }
  
  /* Gaya untuk latar belakang transparan */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
  }
  
  /* Gaya untuk tombol penutup */
  .popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* Efek hover untuk tombol penutup */
  .popup-close:hover {
    color: #ff0000;
  }
  
  /* Gaya untuk tampilkan popup ketika overlay aktif */
  .overlay.active + .popup {
    display: block;
  }
  
  /* Gaya untuk tampilkan overlay ketika popup aktif */
  .popup.active + .overlay {
    display: block;
  }


@media only screen and (max-width: 1024px) {
    .container-page {
        margin: 0;
    }

    .container-page .row {
        width: 100%;
    }

    .main{
        width: 100%;
    }

    .daftar-dosen-box, .content{
        width: 90%;
    }
    .box-content, .table-dosen{
        width: 100%;
    }
    }
