@font-face {
    font-family: 'Tiro Bangla';
}

body,html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.custom-label {
    background-color: dodgerblue;
}

.btn-custom-blue {
    background-color: dodgerblue;
    color: blue;
}

.btn-custom-blue.clicked {
    background-color: blue;
    color: #0D366B;
}

h2,h1{
    font-family: 'Tiro Bangla', serif;
}

img.logo {
    margin-bottom: 20px;
}

#loginForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}



  
  
  

